$border-radius-lg: 1rem;

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_utilities';

$custom-theme-colors: (
    "dark-cyan": hsl(185, 75%, 39%),
    "dark-blue": hsl(229, 23%, 23%),
    "dark-gray": hsl(227, 10%, 46%)
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$utilities: map-merge($utilities, 
    (
        "rounded": map-merge(
            map-get($utilities, "rounded"), (
                values: map-merge(
                    map-get(map-get($utilities, "rounded"), "values"),
                    (
                        4: 1rem
                    )
                )
            )
        )
    )
);

@import '~bootstrap/scss/bootstrap';

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.background-image-1 {
    background-image: url("../static/images/bg-pattern-bottom.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-image-2 {
    background-image: url("../static/images/bg-pattern-card.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-image-3 {
    background-image: url("../static/images/bg-pattern-top.svg");
    background-size: cover;
    background-repeat: no-repeat;
}