@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@400;700&display=swap');


:root {
    --primary-color-1: hsl(233, 47%, 7%);
    --primary-color-2: hsl(244, 38%, 16%);
    --primary-color-3: hsl(277, 64%, 61%);
    --primary-color-3-a: hsla(277, 84%, 24%, 0.6);

    --neutral-color-1: hsl(0, 0%, 100%);
    --neutral-color-2: hsla(0, 0%, 100%, 0.75);
    --neutral-color-3: hsla(0, 0%, 100%, 0.6);

    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

/* Layouts */

body {
    min-height: 100vh;

    background-color: var(--primary-color-1);
}

main {
    display: flex;

    min-height: 100vh;
    padding: 1rem;

    justify-content: center;
    align-items: center;

    background-color: var(--primary-color-1);
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

h2 {
    font-family: 'Lexend Deca', sans-serif;
}

/* Modal Box */

.modal-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    width: 900px;
    width: min(900px, 100%);
    min-height: 380px;

    background-color: var(--primary-color-2);

    border-radius: .5rem;
}

.modal-box__hero {
    position: absolute;
    right: 0;

    width: 50%;
    height: 100%;

    background-color: var(--primary-color-2);
    background-image: linear-gradient(to right, var(--primary-color-3-a), var(--primary-color-3-a)) 
                        ,url('./images/image-header-desktop.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;

    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}

.modal-box__content {
    display: flex;
    flex-direction: column;

    position: relative;
    padding: 3rem;

    min-width: 50%;
    max-width: 50ch;

    height: 100%;
}

.modal-box__title {
    color: var(--neutral-color-1);

    margin-bottom: 1em;
}

.modal-box__title--spot {
    color: var(--primary-color-3);
}

.modal-box__text {
    color: var(--neutral-color-2);

    font-size: 1rem;

    margin-bottom: 2em;
}

.modal-box__info-container {
    display: flex;
    gap: 2rem;

    margin-top: auto;
}

.modal-box__info-item {
    padding-left: 0;
}

.modal-box__info-number {
    display: block;

    margin: 5px 0;

    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
    font-weight: 400;

    color: var(--neutral-color-1);
}

.modal-box__info-text {
    display: block;

    margin: 5px 0;

    font-family: 'Inter', sans-serif;
    font-size: 0.72em;

    text-transform: uppercase;
    letter-spacing: 1.5px;

    color: var(--neutral-color-3);
}

/* Attribution */

.attribution {
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;

    padding: 1rem;

    text-align: center;

    background-color: var(--primary-color-1);
    color: var(--neutral-color-1);
}

.attribution a {
    color: var(--neutral-color-1);
    text-decoration: none;
    font-weight: 900;
}

@media all and (max-width: 400px){
    .modal-box {
        flex-direction: column;
    }

    .modal-box__hero {
        position: relative;
    
        width: 100%;
        height: 420px;
        
        background-repeat: no-repeat;
        background-position-x: center;
    
        border-radius: 0;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    .modal-box__info-container {
        flex-direction: column;
        align-items: center;
    }

    .modal-box {
        text-align: center;
    }

    .attribution {
        position: static;
    }
}