.header {
    display: grid;

    grid-template-rows: 100px 100px minmax(200px, 50%);

    min-height: 100vh;

    position: relative;

    background-color: hsl(199.9, 100%, 62.2%);

    background-image: var(--data-image-src);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-size: min(1440px, 200%);
    
    background-position-x: center;
    background-position-y: bottom;

    &__nav {
        @include flex-row;

        @media screen and (max-width: $screen-medium){
            position: fixed;

            background-color: inherit;

            box-shadow: 0 -10px 40px 20px rgb(0, 0, 0, 0.1);

            z-index: 100;

            top: 0px;
            left: 0px;
            right: 0px;
        }
    }

    &__logo {
        padding: $size-l;
    }

    &__list-container {
        @include flex-row;
        @include list-items;

        padding-right: $size-l;

        & li {
            & a {
                padding: 0.8rem $size-l;

                border-radius: 1.5rem;

                font-size: $size-m;
                font-family: $font-barlow;

                text-decoration: none;

                color: $neutral-color-5;

                &:hover, &:focus {
                    background-color: rgba(white, 0.25);
                }

                &:active {
                    background-color: white;
                    color: $neutral-color-1;
                }

                outline: none;
            }
        }

        @media screen and (max-width: $screen-medium){
            display: flex;
            flex-direction: column;
            align-items: center;

            position: absolute;

            top: 100px;
            left: 50%;

            transform: translateX(-50%);

            padding: 1.2rem;
            width: 80%;

            background-color: white;

            &::before {
                content: '';
                
                width: 0;
                height: 0;
                border-bottom: 40px solid white;
                border-left: 40px solid transparent;
                
                right: 0;
                bottom: 100%;

                position: absolute;
            }

            & li {
                width: 100%;
                margin: 1rem auto;

                & a {        
                    color: $neutral-color-4;
                    background-color: transparent;

                    display: block;
                    width: max-content;
                    text-align: center;
                    margin: auto;

                    font-size: 1.8rem;

                    border-radius: 2rem;
    
                    &:hover, &:focus, &:active {
                        background-color: $primary-color-2;
                        color: $neutral-color-1;
                    }
                }
            }
        }
    }

    &__motto {
        position: absolute;
        top: 30%;
        left: 50%;

        width: 90%;

        font-family: $font-fraunces;
        font-size: 3.2rem;
        
        text-align: center;
        text-transform: uppercase;

        letter-spacing: $size-xs;

        color: $neutral-color-5;

        transform: translate(-50%, -50%);

        transition: font-size 0.5s ease-out;

        @media screen and (max-width: $screen-medium){
            font-size: 2.4rem;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%) scale(1);
    }

    &__toggle {
        display: block;

        padding: 2rem;

        font-size: 2rem;
        color: white;

        @media screen and (min-width: $screen-medium){
            display: none !important;
        }
    }
}