@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --primary-color-1: hsl(172, 67%, 45%);
  --neutral-color-1: hsl(183, 100%, 15%);
  --neutral-color-2: hsl(186, 14%, 43%);
  --neutral-color-3: hsl(184, 14%, 56%);
  --neutral-color-4: hsl(185, 41%, 84%);
  --neutral-color-5: hsl(189, 41%, 97%);
  --neutral-color-6: hsl(0, 0%, 100%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

.attribution {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: var(--neutral-color-1);
  color: var(--neutral-color-6);
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  text-align: center;
  bottom: 0;
}
.attribution a {
  text-decoration: none;
  color: var(--neutral-color-6);
}

body {
  background-color: var(--neutral-color-4);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--neutral-color-6);
  color: var(--neutral-color-2);
  border-radius: 1rem;
  padding: 2rem;
  font-family: "Space Mono", monospace;
  max-width: min(800px, 90%);
  min-height: 400px;
}
.calculator * {
  font-family: "Space Mono", monospace;
}
.calculator__control {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}
.calculator__control-item {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
}
.calculator__label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.calculator__input {
  position: relative;
  padding: 0;
}
.calculator__input--dollars::before {
  content: "$";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: var(--neutral-color-3);
}
.calculator__input--people::before {
  content: "P";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  color: var(--neutral-color-3);
}
.calculator__input-field {
  padding: 1em;
  width: 100%;
  height: 2rem;
  background-color: var(--neutral-color-5);
  color: var(--neutral-color-3);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  border: none;
}
.calculator__tip-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.calculator__tip-btn {
  background-color: var(--neutral-color-1);
  color: var(--neutral-color-6);
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.calculator__tip-input {
  background-color: var(--neutral-color-5);
  color: var(--neutral-color-2);
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  padding: 0.2rem 1rem;
  border: none;
}
.calculator__result {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--neutral-color-1);
  color: var(--neutral-color-6);
  border-radius: 1rem;
}
.calculator__result-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tip price" "person price";
  width: 100%;
  padding: 0.8rem;
  padding-top: 0;
}
.calculator__result-title {
  font-size: 0.9rem;
  font-weight: 600;
  grid-area: tip;
  align-self: flex-end;
  color: var(--neutral-color-5);
}
.calculator__result-subtitle {
  font-size: 0.8rem;
  grid-area: person;
  color: var(--neutral-color-3);
}
.calculator__result-price {
  font-size: 2.4rem;
  font-weight: 600;
  grid-area: price;
  color: var(--primary-color-1);
}
.calculator__result-btn {
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  margin-top: auto;
  padding: 0.5em;
  justify-self: flex-end;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--primary-color-1);
  color: var(--neutral-color-1);
}

/*# sourceMappingURL=style.css.map */
