@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --primary-color-1:hsl(225, 100%, 94%);
    --primary-color-2:hsl(245, 75%, 52%);

    --neutral-color-1: hsl(225, 100%, 98%);
    --neutral-color-2: hsl(224, 23%, 55%);
    --neutral-color-3: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Layout */

body {
    position: relative;
    margin: 0;
    padding: 1rem;

    width: 100vw;
    height: 120vh;

    background-image: url('./images/pattern-background-desktop.svg');
    background-color: var(--primary-color-1);
    background-size: contain;
    background-repeat: no-repeat;

    font-family: "Red Hat Display", sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 1.6rem;

    color: var(--neutral-color-3);

    margin: 10px auto;
}

h2 {
    font-weight: 900;
    font-size: 1rem;

    color: var(--neutral-color-3);

    margin: 10px auto;
}

p {
    font-weight: 500;
    font-size: 16px;

    color: var(--neutral-color-2);

    margin: 10px auto;
}

a {
    color: var(--primary-color-2);
    font-weight: 700;
}

/* Modal Box */

.modal-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 20px;

    width: min(100%, 400px);
    height: 640px;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 20px 24px hsla(223, 47%, 23%, 0.1);
}

.modal-box__image {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    background-repeat: no-repeat;

    width: 100%;
}

.modal-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
    padding-top: 40px;

    text-align: center;
}

.modal-box__plan-container {
    width: 100%;

    margin: 20px auto;
}

.modal-box__plan-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    background-color: var(--neutral-color-1);
    padding: 1.2rem 1rem;
    border-radius: 15px;

    align-items: center;

    width: 100%;
}

.modal-box__plan-item__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.modal-box__plan-item__details h2,
.modal-box__plan-item__details p {
    margin: 0px;
    
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.modal-box__plan-item__change {
    font-size: .8rem;
}

.modal-box .btn {
    width: 100%;
    height: 50px;

    margin: 5px 0px;

    font-weight: 900;
    border-radius: 10px;
}

.modal-box .btn-primary {
    color: white;
    background-color: var(--primary-color-2);

    box-shadow: 0px 10px 20px hsla(223, 47%, 23%, 0.2);

    border: none;
}

.modal-box .btn-secondary {
    border: none;
    background-color: transparent;
    color: var(--neutral-color-2);
}