.cover {
    background-image: var(--data-image-src);
    background-size: cover;
    background-position: center;

    padding: 2rem;

    min-height: 640px;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
        margin-bottom: 2rem;

        font-family: $font-fraunces;
        font-size: 1.8rem;
        font-weight: 900;

        text-align: center;

        color: $primary-color-3;
    }

    & p {
        margin-bottom: 2rem;

        font-family: $font-barlow;
        font-size: 1.2rem;

        text-align: center;

        color: $primary-color-4;
    }
}