:root, :root.theme1 {
    --color-primary:  hsl(6, 63%, 50%);
    --color-secondary: hsl(225, 21%, 49%);
    --color-ternary: hsl(30, 25%, 89%);
    
    --color-primary-shadow:  hsl(6, 70%, 34%);
    --color-secondary-shadow: hsl(224, 28%, 35%);
    --color-ternary-shadow: hsl(28, 16%, 65%);

    --color-neutral1: hsl(224, 36%, 15%);
    --color-neutral2: hsl(223, 31%, 20%);
    --color-neutral3: hsl(222, 26%, 31%);
    
    --color-header: hsl(0, 100%, 100%);
    --color-text1: hsl(0, 100%, 100%);
    --color-text2: hsl(221, 14%, 31%);
}

:root.theme2 {
    --color-primary:  hsl(25, 98%, 40%);
    --color-secondary: hsl(185, 42%, 37%);
    --color-ternary: hsl(45, 7%, 89%);
    
    --color-primary-shadow:  hsl(25, 99%, 27%);
    --color-secondary-shadow: hsl(185, 58%, 25%);
    --color-ternary-shadow: hsl(35, 11%, 61%);

    --color-neutral1: hsl(0, 0%, 93%);
    --color-neutral2: hsl(0, 5%, 81%);
    --color-neutral3: hsl(0, 0%, 90%);
    
    --color-header: hsl(60, 10%, 19%);
    --color-text1: hsl(0, 100%, 100%);
    --color-text2: hsl(60, 10%, 19%);
}

:root.theme3 {

}

@tailwind base;
@tailwind components;
@tailwind utilities;

.calculator {
    max-width: 400px;
    /* height: 600px; */
}