.grid-section {
    display: grid;

    &--full {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'left';
    }

    &--dual {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'left right';
    }

    &--dual-swap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'left right';
    }

    &--four {
        grid-template-columns: repeat(4, 1fr);

        grid-template-areas: 'left mid-left mid-right right';
    }

    &__left {
        grid-area: left;
    }

    &__mid-left {
        grid-area: mid-left;
    }

    &__mid-right {
        grid-area: mid-right;
    }

    &__right {
        grid-area: right;
    }

    @media screen and (max-width: $screen-medium){
        &--full {
            grid-template-columns: 100%;
            grid-template-areas: 'left';
        }

        &--dual {
            grid-template-columns: 100%;
            grid-template-areas: 'left' 'right';
        }

        &--dual-swap {
            grid-template-columns: 100%;
            grid-template-areas: 'right' 'left';
        }

        &--four {
            grid-template-columns: 50% 50%;
            grid-template-areas: 'left mid-left' 'mid-right right';

            & > * {
                min-width: 50% !important;
                min-height: 50vw !important;
            }
        }
    }
}