$primary-color-1: var(--primary-color-1);
$primary-color-2: var(--primary-color-2);
$primary-color-3: var(--primary-color-3);
$primary-color-4: var(--primary-color-4);
$primary-color-5: var(--primary-color-5);

$neutral-color-1: var(--neutral-color-1);
$neutral-color-2: var(--neutral-color-2);
$neutral-color-3: var(--neutral-color-3);
$neutral-color-4: var(--neutral-color-4);
$neutral-color-5: var(--neutral-color-5);