@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

.font-barlow {
    font-family: $font-barlow;
}

.font-fraunces {
    font-family: $font-fraunces;
}

.text-uppercase {
    text-transform: uppercase;
}