@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
.font-barlow {
  font-family: "Barlow", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", serif;
}

.text-uppercase {
  text-transform: uppercase;
}

:root {
  --primary-color-1: hsl(7, 99%, 70%);
  --primary-color-2: hsl(51, 100%, 49%);
  --primary-color-3: hsl(167, 40%, 24%);
  --primary-color-4: hsl(198, 62%, 26%);
  --primary-color-5: hsl(168, 34%, 41%);
  --neutral-color-1: hsl(212, 27%, 19%);
  --neutral-color-2: hsl(213, 9%, 39%);
  --neutral-color-3: hsl(232, 10%, 55%);
  --neutral-color-4: hsl(210, 4%, 67%);
  --neutral-color-5: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

.grid-section {
  display: grid;
}
.grid-section--full {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "left";
}
.grid-section--dual {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
}
.grid-section--dual-swap {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
}
.grid-section--four {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "left mid-left mid-right right";
}
.grid-section__left {
  grid-area: left;
}
.grid-section__mid-left {
  grid-area: mid-left;
}
.grid-section__mid-right {
  grid-area: mid-right;
}
.grid-section__right {
  grid-area: right;
}
@media screen and (max-width: 640px) {
  .grid-section--full {
    grid-template-columns: 1fr;
    grid-template-areas: "left";
  }
  .grid-section--dual {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
  }
  .grid-section--dual-swap {
    grid-template-columns: 1fr;
    grid-template-areas: "right" "left";
  }
  .grid-section--four {
    grid-template-columns: 50%;
    grid-template-areas: "left mid-left" "mid-right right";
  }
  .grid-section--four > * {
    min-width: 50vw !important;
    min-height: 50vw !important;
  }
}

.spacer__vertical {
  margin-bottom: auto;
}
.spacer__horizontal {
  margin-right: auto;
}

.header {
  display: grid;
  grid-template-rows: 100px 100px minmax(200px, 50%);
  min-height: 100vh;
  position: relative;
  background-image: var(--data-image-src);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  padding: 2rem;
}
.header__list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding-right: 2rem;
}
@media screen and (max-width: 640px) {
  .header__list-container {
    display: none;
  }
}
.header__list-container li a {
  padding: 0.8rem 2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  color: var(--neutral-color-5);
  outline: none;
}
.header__list-container li a:hover, .header__list-container li a:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.header__list-container li a:active {
  background-color: white;
  color: var(--neutral-color-1);
}
.header__motto {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 90%;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--neutral-color-5);
  transform: translate(-50%, -50%);
  transition: font-size 0.5s ease-out;
}
@media screen and (max-width: 640px) {
  .header__motto {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 320px) {
  .header__motto {
    font-size: 1.2rem;
  }
}
.header__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

body {
  background-color: #98e3ff;
}

.main {
  max-width: min(1440px, 100%);
  margin: 0 auto;
  box-shadow: 0 0 50px #3ebfff;
}

.page {
  background-color: var(--neutral-color-5);
}

.article {
  padding: 8rem;
}
.article__title {
  margin-bottom: 2rem;
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--neutral-color-1);
}
.article__content {
  margin-bottom: 2rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
  color: var(--neutral-color-3);
}
.article__link {
  position: relative;
  margin-bottom: 2rem;
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--neutral-color-1);
}
.article__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 5px;
  z-index: 10;
  background-color: var(--primary-color-2);
  border-radius: 20px;
  transition: right ease-out 0.5s;
  outline: none;
}
.article__link:hover::before, .article__link:focus::before {
  right: 0;
}
@media screen and (max-width: 1000px) {
  .article {
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .article__title {
    text-align: center;
  }
  .article__content {
    text-align: center;
  }
  .article__link {
    text-align: center;
  }
}

.cover {
  background-image: var(--data-image-src);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover h3 {
  margin-bottom: 2rem;
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary-color-3);
}
.cover p {
  margin-bottom: 2rem;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: var(--primary-color-4);
}

/*# sourceMappingURL=style.css.map */
