@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    --primary-color-1: hsl(174, 77%, 80%);
    --primary-color-2:  hsl(174, 86%, 45%);
    --primary-color-3: hsl(14, 92%, 95%);
    --primary-color-4: hsl(15, 100%, 70%);
    --primary-color-5: hsl(226, 100%, 87%);

    --neutral-color-1: hsl(0, 0%, 100%);
    --neutral-color-2: hsl(230, 100%, 99%);
    --neutral-color-3: hsl(224, 65%, 95%);
    --neutral-color-4: hsl(223, 50%, 87%);
    --neutral-color-5: hsl(225, 20%, 60%);
    --neutral-color-6: hsl(227, 35%, 25%);
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    
    box-sizing: border-box;
}

/* Layout */
body {
    margin: 0;
    padding: 0;
    
    background-color: var(--neutral-color-2);
    background-image: url('./images/bg-pattern.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: max(1440px, 100%);
}

/* Main */
main {
    min-height: 100vh;
}

/* Pricing Header */
.pricing-header {
    position: relative;

    margin: 2rem auto;
    padding: 1rem;

    background-image: url('./images/pattern-circles.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}

.pricing-header__title {
    margin: 0.5rem;

    font-size: 2rem;
    font-weight: 800;

    color: var(--neutral-color-6);
}

.pricing-header__subtitle {
    margin: 0.5rem;

    font-size: 1rem;
    font-weight: 600;

    color: var(--neutral-color-5);
}

/* Pricing Modal */
.pricing-modal {
    display: grid;
    grid-template-areas: 
        "page-views price"
        "slider slider"
        "options options"
        "hr hr"
        "benefits confirmations";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 50px 50px 1px 75px;

    margin: 1rem auto;
    padding: 2rem;

    max-width: 90%;
    max-width: min(500px, 90%);

    background-color: var(--neutral-color-1);

    border-radius: 1rem;

    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.pricing-modal__page-views {
    grid-area: page-views;
    align-self: center;

    font-size: 0.75rem;
    font-weight: 800;

    text-transform: uppercase;
    letter-spacing: 2px;

    color: var(--neutral-color-5);
}

.pricing-modal__price {
    grid-area: price;
    align-self: center;
    justify-self: flex-end;

    color: var(--neutral-color-5);
}

.pricing-modal__price-count {
    font-size: 2rem;
    font-weight: 800;
    
    color: var(--neutral-color-6);
}

.pricing-modal__slider {
    position: relative;
    
    grid-area: slider;
}

.pricing-modal__slider-bar {
    position: absolute;

    left: 0px;
    right: 0px;

    top: 50%;

    height: 7px;
    
    border-radius: 5px;

    transform: translateY(-50%);
}

.pricing-modal__slider-bar--background {
    background-color: var(--neutral-color-4);
}

.pricing-modal__slider-bar--foreground {
    right: 40%;

    background-color: var(--primary-color-1);
}

.pricing-modal__slider-node {
    position: absolute;

    right: 40%;
    top: 50%;

    border-radius: 50%;

    width: 36px;
    height: 36px;

    background-color: var(--primary-color-2);

    box-shadow: 0 10px 20px hsl(174, 86%, 45%, 0.5);

    transform: translate(50%, -50%);
}

.pricing-modal__slider-node:hover {
    filter: brightness(105%);
    cursor: pointer;
}

.pricing-modal__slider-node::after {
    content: url('./images/icon-slider.svg');

    position: absolute;

    left: 50%;
    top: 50%;

    opacity: 70%;

    transform: translate(-50%, -50%);
}

.pricing-modal__options {
    grid-area: options;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.pricing-modal__options-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: .25rem 1rem;
}

.pricing-modal__options-item {
    font-size: 0.75rem;

    margin-right: 0.75rem;

    color: var(--neutral-color-5);
}

.pricing-modal__options-switch {
    position: relative;

    font-size: 0.75rem;

    min-width: 50px;
    width: 50px;
    height: 24px;

    border: none;
    border-radius: 20px;

    background-color: var(--neutral-color-4);
}

.pricing-modal__options-switch--active {
    background-color: var(--primary-color-1);
}

.pricing-modal__options-switch:hover {
    filter: brightness(105%);
    cursor: pointer;
}

.pricing-modal__options-switch::after {
    content: '';

    position: absolute;

    display: block;

    background-color: var(--neutral-color-1);

    width: 16px;
    height: 16px;

    border-radius: 50%;

    left: 50%;
    top: 50%;

    transform: translate(-130%, -50%);
    transition: transform;
}

.pricing-modal__options-switch--active::after {
    transform: translate(30%, -50%);
}

.pricing-modal__options-info {
    font-size: 0.6rem;

    color: var(--neutral-color-5);

    padding: 0.25rem 0.5rem;

    border-radius: 1rem;
}

.pricing-modal__options-info--discount {
    color: var(--primary-color-4);
    background-color: var(--primary-color-3);
}

.pricing-modal__options-info--discount::after {
    content: ' discount';
}

.pricing-modal__hr {
    grid-area: hr;

    width: 100%;
    height: 100%;

    background-color: var(--neutral-color-3);
}

.pricing-modal__benefits {
    grid-area: benefits;

    align-self: flex-end;
    justify-self: flex-start;

    color: var(--neutral-color-5);
}

.pricing-modal__list-container {
    color: var(--neutral-color-5);

    list-style: none;
}

.pricing-modal__list-item {
    font-size: 0.75rem;
}

.pricing-modal__list-item::before {
    content: url('./images/icon-check.svg');

    margin-right: 0.5rem;
}

.pricing-modal__confirmation {
    grid-area: confirmations;

    align-self: flex-end;
    justify-self: flex-end;
}

.pricing-modal__btn {
    border-radius: 2rem;
    border: none;

    font-size: 0.75rem;

    padding: 0.75rem 2rem;
}

.pricing-modal__btn--primary {
    color: var(--neutral-color-1);    
    background-color: var(--neutral-color-6);
}

.pricing-modal__btn--primary:hover {
    filter: brightness(120%);
    cursor: pointer;
}

/* Footer */

.attribution {
    background-color: var(--neutral-color-6);

    padding: 1rem;

    font-size: 1.2rem;

    text-align: center;
    
    color: var(--neutral-color-1);
}

.attribution a {
    color: var(--primary-color-2);
    text-decoration: none;

    font-size: 1.2rem;
}

@media screen and (max-width: 400px){
    .pricing-header__title {
        font-size: 1.25rem;
    }

    .pricing-header__subtitle {
        font-size: 0.75rem;

        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pricing-modal {
        display: grid;
        grid-template-areas: 
            "page-views page-views"
            "slider slider"
            "price price"
            "options options"
            "hr hr"
            "benefits benefits"
            "confirmations confirmations";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75px 50px 75px max-content 1px 100px 50px;

        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pricing-modal__page-views {
        text-align: center;
    }

    .pricing-modal__price, .pricing-modal__price-count {
        justify-self: center;
    }

    .pricing-modal__benefits {
        justify-self: center;
        align-self: center;
    }

    .pricing-modal__list-item {
        text-align: center;
    }

    .pricing-modal__confirmation {
        justify-self: center;
        align-self: center;
    }

    .pricing-modal__options {
        flex-direction: column;
    }

    .pricing-modal__options-item {
        font-size: 0.7rem;
    }

    .pricing-modal__options-info--discount::after {
        content: '';
    }

    .pricing-modal__btn {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .attribution, .attribution a {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 200px){
    .pricing-modal__options-container {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .pricing-modal__options-item {
        text-align: center;

        margin: 0px;
        margin-bottom: 5px;
    }

    .pricing-modal__options-info--discount::after {
        content: ' discount';
    }
}