@use '../abstracts' as *;

::placeholder {
    color: $neutral-color-3;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: $neutral-color-6;
    color: $neutral-color-2;

    border-radius: 1rem;

    padding: 2rem;

    font-family: $font-spacemono;

    width: 90%;
    max-width: min(800px, 90%);
    min-height: 400px;

    & * {
        font-family: $font-spacemono;
    }

    &__control {
        display: flex;
        flex-direction: column;

        padding: 0.2rem;
    }

    &__control-item {
        padding: 0.8rem;

        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 1rem;

        font-weight: 700;
        margin-bottom: 1em;
    }

    &__input {
        position: relative;

        padding: .2rem;

        &--error::after {
            content: 'Can\'t be zero';

            position: absolute;

            bottom: 100%;
            right: 10px;

            font-size: 0.8rem;
            font-weight: 700;

            color: $error-color;
        }

        &--error {
            .calculator__input-field {
                outline-color: $error-color;
                border: 2px solid $error-color;
            }
        }
    }

    &__input-sign {
        position: absolute;
        
        width: 100px;
        height: 1.2rem;

        background-repeat: no-repeat;
        background-size: contain;

        left: 10px;
        top: 50%;

        transform: translateY(-50%);

        text-align: left;

        color: $neutral-color-3;

        &--dollars {
            background-image: url('../images/icon-dollar.svg');
        }

        &--people {
            background-image: url('../images/icon-person.svg');
        }
    }

    &__input-field {
        padding: 1em;

        width: 100%;
        height: 4rem;

        background-color: $neutral-color-5;
        color: $neutral-color-1;

        font-size: 1.2rem;
        font-weight: 700;

        text-align: right;

        border: none;
        border-radius: 0.2rem;

        outline-color: $neutral-color-4-sat;
        outline-width: 2px;

        ::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        &[type=number] {
        -moz-appearance: textfield;
        }
    }

    &__tip-btn-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

    &__tip-btn {
        background-color: $neutral-color-1;
        color: $neutral-color-6;

        width: 100%;
        padding: 0.5rem 1rem;

        border: none;
        border-radius: 0.2rem;

        font-size: 1.2rem;
        font-weight: 700;

        transition: opacity, color, background-color 100ms;
        
        cursor: pointer;

        &:hover {
            background-color: $neutral-color-4-sat;
            color: $neutral-color-1;
        }

        &--active {
            background-color: $primary-color-1;
            color: $neutral-color-1;

            cursor: default;

            &:hover {
                background-color: $primary-color-1;
                color: $neutral-color-1;
            }
        }
    }

    &__tip-input {
        background-color: $neutral-color-5;
        color: $neutral-color-1;

        font-size: 1.2rem;
        font-weight: 700;

        width: 100%;
        padding: 0.2rem 1rem;

        border: none;
        border-radius: 0.2rem;

        outline-color: $neutral-color-4-sat;
        outline-width: 2px;

        text-align: right;

        &--error {
            outline-color: $error-color;
        }

        ::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        &[type=number] {
        -moz-appearance: textfield;
        }
    }

    &__result {
        display: flex;
        flex-direction: column;

        padding: 2rem;

        background-color: $neutral-color-1;
        color: $neutral-color-6;

        border-radius: 1rem;
    }

    &__result-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                'tip price'  
                'person price';

        width: 100%;

        padding: 0.8rem;
        padding-top: 0;
    }

    &__result-title {
        font-size: 0.9rem;
        font-weight: 600;

        grid-area: tip;

        align-self: flex-end;

        color: $neutral-color-5;
    }

    &__result-subtitle {
        font-size: 0.8rem;

        grid-area: person;

        color: $neutral-color-3;
    }

    &__result-price {
        font-size: 2.4rem;
        font-weight: 600;

        grid-area: price;

        text-align: right;

        color: $primary-color-1;
    }

    &__result-btn {

        width: 100%;

        border: none;
        border-radius: 0.4rem;

        margin-top: auto;
        padding: 0.5em;

        justify-self: flex-end;

        font-size: 1.2rem;
        font-weight: 700;

        text-transform: uppercase;

        text-align: center;

        transition: opacity, color, background-color 100ms;

        &--disabled {
            background-color: $primary-color-1;
            color: $neutral-color-1;

            opacity: 20%;
        }

        &--active {
            background-color: $primary-color-1;
            color: $neutral-color-1;

            cursor: pointer;

            &:hover {
                background-color: $neutral-color-4-sat;
                color: $neutral-color-1;
            }
        }
    }
}

@media all and (max-width: 700px){
    .calculator {
        grid-template-columns: repeat(auto-fill, 100%);

        padding: 1rem;
        margin-bottom: 40px;

        &__control-item {
            padding-left: 0;
            padding-right: 0;
        }

        &__input--error::after {
            font-size: 0.7rem;
        }

        &__result-item {
            padding-right: 0px;
        }

        &__result-price {
            font-size: 2rem;

            text-align: right;
        }
    }
}

@media all and (max-width: 400px){
    .calculator {
        &__tip-btn-container {
            grid-template-columns: repeat(2, 1fr);
        }

        &__result {
            padding: 1rem;
        }

        &__result-item {
            grid-template-areas: 
                'tip person'
                'price price'
        }
    }
}